<?xml version="1.0"?>

<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!--  -->
  <arg name="world_name" default="$(find gem_gazebo)/worlds/curved_road_track.world"/>
  <arg name="use_rviz" default="true"/>
  <!--  -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="false"/>

  </include>

  <!-- Spawn the GEM CAR -->
  <include file="$(find gem_gazebo)/launch/gem_vehicle.launch">

    <arg name="x" value="11.98"/>
    <arg name="y" value="-15.57"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" default="3.14"/>

  </include>


  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gem_description)/config_rviz/gem_velodyne.rviz" />


</launch>
